<!DOCTYPE html>
<html lang="en">
    <head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Checkout |Happy Bakers</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid decor_bg" id="content">
            <div class="row">
                <div class="container">
			<h1 style="font-family: 'Dancing Script', cursive; font-family: 'Great Vibes', cursive;">Happy Bakers</h1><br>
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                        <!--<h2  style="font-family:'Dancing Script', cursive">LOGIN</h2>-->
                        <form  action="/confirm" method="POST">
			<div class="panel-wrapper">
		<div class="panel-head" style="font-family:'Dancing Script', cursive; font-size:40px; background-color:#BC8F8F; border:1px solid black">
			 &nbsp;&nbsp;Checkout:
		</div>
		<div class="panel-body" style="font-family:'Dancing Script', cursive; font-size:15px; background-color:#FFF0F5">
                             <p style="font-family:'Dancing Script', cursive; font-size:35px; background-color:#FFF0F5">&#9996;&nbsp;Your order is confrimed&#9996;&nbsp;</p>
			     <p style="font-family:'Dancing Script', cursive; font-size:35px; background-color:#FFF0F5" id='order'>Your order is <%= result[0].cname %></p>
			     <p style="font-family:'Dancing Script', cursive; font-size:35px; background-color:#FFF0F5" id='price'> Your total price is <%= result[0].price %></p>
			    
			   <div class="form-group">
			   <label  style="font-size:35px ;font-family:'Dancing Script', cursive;  color:#BC8F8F;" for="mode">Mode of payment: Card</label><br>
			   </div>
			   <div class="form-group">
                           <input style="font-family:'Dancing Script', cursive; font-size:30px;" type="text" class="form-control" placeholder="Cardno" name="cardnum">
                            </div>
			     <div class="form-group">
 				<label  style="font-size:45px ;font-family:'Dancing Script', cursive" for="mssgs"><h4 style="font-family:'Dancing Script', cursive; font-size:35px; color:#BC8F8F;">Your feedbacks are welcome!!!</h4></label><br>
				 <textarea rows="10" cols="40" type="text" name="mssgs"></textarea>
 			   </div>
			   <button style="font-family:'Dancing Script', cursive;  background-color:#BC8F8F; font-size:20px; color:black" type="submit" name="submit" class="btn btn-primary">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div><br>
	<p>We bake moments....and not just cakes!!</p>
    </body>

</html>
