<!DOCTYPE html>
<html lang="en">
    <head>
	<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet"> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital@1&display=swap" rel="stylesheet">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Receipt |Happy Bakers</title>
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container-fluid decor_bg" id="content">
            <div class="row">
                <div class="container">
			<h1 style="font-family: 'Dancing Script', cursive; font-family: 'Great Vibes', cursive;">Happy Bakers</h1><br>
                    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3">
                        <!--<h2  style="font-family:'Dancing Script', cursive">LOGIN</h2>-->
               
			<div class="panel-wrapper">
		<div class="panel-head" style="font-family:'Dancing Script', cursive; font-size:40px; background-color:#BC8F8F; border:1px solid black">
			 &nbsp;&nbsp;Receipt:
		</div>
		<div class="panel-body" style="font-family:'Dancing Script', cursive; font-size:15px; background-color:#FFF0F5">
				 <p style="font-family:'Dancing Script', cursive; font-size:
					   35px; background-color:#FFF0F5">Date: <%= date %></p>
				 <p style="font-family:'Dancing Script', cursive; font-size:
					   35px; background-color:#FFF0F5">Customer-Name: <%= name %> </p>
				 <p style="font-family:'Dancing Script', cursive; font-size:35px; background-color:#FFF0F5">Your order is: <%= result[0].cname %></p>
			     <p style="font-family:'Dancing Script', cursive; font-size:
				       35px; background-color:#FFF0F5">Your total price is: <%= result[0].price %></p>
				<p style="font-family:'Dancing Script', cursive; font-size:
35px; background-color:#FFF0F5">Thanks do visit again!!</p>
				<button style="font-family:'Dancing Script', cursive;  background-color:#BC8F8F; font-size:20px; color:black" type="submit" name="submit" class="btn btn-primary" onclick="window.print()">Print Receipt</button>
                    </div>
                </div>
            </div>
        </div><br>
	<p>We bake moments....and not just cakes!!</p>
    </body>
</html>
