*{
	background-color:#FFFAFA;
}
h1{
	font-family: 'Great Vibes', cursive;
	/*font-family: 'Dancing Script', cursive;*/
	font-size:120px;
	color:#BC8F8F;
	text-align:center;
}
p{
	text-align:center;
	font-family: 'Dancing Script', cursive;
	font-size:40px;
	color:#BC8F8F;
	text-decoration: underline;
}
h2{
	font-family: 'Great Vibes', cursive;
	font-size:70px;
	color:#BC8F8F;
	text-align:center;
	text-decoration: underline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  background-color:#FFE4E1;
  position: -webkit-sticky; /* Safari */
  /*position: sticky;*/
  top: 0;
}

li {
  display: block;
  float: left;
}

li a {
  background-color:#FFE4E1;
  font-family: 'Dancing Script', cursive;
  font-size:30px;
  color:#BC8F8F;
  text-align: center;
  padding: 30px 30px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
.active {
  background-color: black;
}

.dropbtn {
  font-family: 'Dancing Script', cursive;
  font-size:37px;
  background-color:#DCDCDC ;
  color:black;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
   border: 10px;
  font-family: 'Playfair Display', serif;
  color:black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size:30px;
}

.dropdown-content a:hover {background-color:#DCDCDC ;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color:#778899;
}

div.gallery {
  margin: 5px;
  width: 50%;
  float: right;
  z-index:1;
}

div.gallery1{
  margin: 5px;
  width: 50%;
  float: left;
  z-index:1;
}

div.gallery img:hover {
  border-style: solid;
  border-width: thick;
  border-color: #778899;;
}

div.gallery1 img:hover {
  border-style: solid;
  border-width: thick;
  border-color: #778899;;
}

div.gallery img {
  border-radius:45%; 
}

div.gallery1 img {
  border-radius:45%; 
} 

div.desc {
  font-family: 'Dancing Script', cursive;
  background-color:#FFE4E1;
  width:500px;
  height:300px;
  float: right;
  border-radius:40%; 
  padding: 50px 50px;
   font-size: 33px;
  text-align: center;  
}

div.desc1{
  font-family: 'Dancing Script', cursive;
  float : left;
  background-color:#FFE4E1;
  border-radius:40%;
  width:500px;
  height:300px;
  padding: 50px 50px;
  text-align: center;
  font-size: 33px;
}

div.desc a{
	background-color:#FFE4E1;
	text-decoration: none;
	color:#BC8F8F;
}

div.desc1 a{
	background-color:#FFE4E1;
	text-decoration: none;
	color:#BC8F8F;
}

div.desc:hover{
	text-decoration: none;
	border-style: solid;
	border-width: thick;
  	border-color: #778899;
}

div.desc1:hover{
	text-decoration: underline;
	text-decoration: none;
	border-style: solid;
	border-width: thick;
  	border-color: #778899;
}

hr{
  color:#DCDCDC;
} 

div.space{
	padding:50px 50px;
}
div.new1 p{
	/*border-style: groove;
	text-align: left;
	text-decoration: none;
	padding: 10px 10px;
  	background-color: #f1f1f1;*/
	font-family: 'EB Garamond', serif;
	color: black;
	float: left;
  	padding:10px;
  	text-align: left;
	font-size:30px;
	text-decoration: none;
}

div.try iframe{
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 50%;
}

